.overlay {
    position: absolute;
    height: 400px;
    width: 1248px;
    background-color: red;
    top: 50%;
    right: 0%;
    opacity: 30%;
}

.s1 h1 {
    position: absolute;
    font-size: 200px;
    left: 5%;
    top: 15%;
}

.s1 img {
    top: 0%;
    position: absolute;
    left: 35%;
    width: 1300px;
}